/* 
(READY)1. Crear un Documento HTML y vincularlo con un CSS 
(READY)2. Crear una estructura HTML que cuente con un CONTENEDOR GENERAL, CABECERA, MENU, BARRA LATERAL, SECCION DE CONTENIDO PRINCIPAL, ELEMENTOS DENTRO DEL CONTENEDOR PRINCIPAL Y FOOTER.
(READY)3. Todo el contenido debe estar dentro del contenedor general y su ancho será de 1200px y estar centrado.
(READY)4. Header debe acupar el 100% de ancho y tener un texto grande centrado.
5. Menu debe tener los elementos uno al lado del otro.
6. El contenido principal debe tener un ancho del 70%.
7. El contenido dentro del contenedor principal debe ser una cuadricula con 4 lineas de 2 cajas.
8. La barra lateral debe tener un ancho del 30%.
9. El footer debe tener un ancho del 100% del div que lo contiene y estar abajo del todo.
*/

/*Reseteo todo*/
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

#general{
    width: 1200px;
    margin: 0px auto;/*Centrar elemento en medio de la pagina*/
    margin-top: 20px;
    border: 1px solid #ccc;
}

#header{
    width: 100%;
    height: 100px;
    background: rgb(0, 89, 255);
    border: 1px solid #ccc;
    color: white;
    text-align: center;
    line-height: 90px;/*Centrar texto en vertical*/
}